.container {
    display:flexbox;
}



.image-text {
    display:flex;
    align-items: center;
    margin-left: 15px;
}


img {
    border: 5px solid #b12525
}

.composenw {
    background-color: cornflowerblue;
    border: black;
    font-weight: bold;
    align-items: center;
    padding: 5px;
   
}