body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container {
    display: flex;

}

.sidebar {
    background-color: dimgray;
    padding: 10px;
    
}

.image-text {
    display:flex;
    align-items: center;
    margin-left: 15px;
}


img {
    border: 2px solid 

}

.composenw {
    background-color: rgb(181, 195, 222);
    font-weight: bold;
    font-size: medium;
    align-items: center;
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    cursor: pointer;
   
}

.folders {
    list-style: none;
    padding: 0;
}