.container {
    display:flexbox;
}

.sidebar {
    background-color: dimgray;
    padding: 10px;
}

.image-text {
    display:flex;
    align-items: center;
    margin-left: 15px;
}


img {
    border: 5px solid #b12525
}

.composenw {
    background-color: rgb(181, 195, 222);
    font-weight: bold;
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    
    
   
}